<%- include('header') %>
<div class="outer">
  <div class="container">
    <img src="/images/TEAMFM.png" alt="" srcset="" class="radiopaper">
  </div>
  <div class="filter">
    <label for="time-frame-days">Filter by Days:</label>
    <select id="time-frame-days">
      <option value="all">All</option>
      <option value="7">Last 7 Days</option>
      <option value="14">Last 14 Days</option>
      <option value="30">Last 30 Days</option>
    </select>
    <label for="time-frame-hours">Filter by Hours:</label>
    <select id="time-frame-hours">
      <option value="all">All</option>
      <option value="12">Last 12 Hours</option>
      <option value="9">Last 9 Hours</option>
      <option value="6">Last 6 Hours</option>
      <option value="3">Last 3 Hours</option>
      <option value="2">Last 2 Hours</option>
      <option value="1">Last 1 Hour</option>
      <option value="0.5">Last 30 Minutes</option>
    </select>
  </div>
  <div class="Playing">
    <div class="current">
      <h1>Now Playing</h1>
      <p>Server Name: <%= data.servername %></p>
      <p>Now Playing: <%= data.nowplaying %></p>
      <img class="current-playing-img" src="<%= data.coverart %>" alt="Cover Art">
    </div>

    <h2>Track History</h2>

    <ul class="track-history">
      <% for (let track of paginatedTrackHistory) { %>
        <li>
          <img src="<%= track.coverart %>" alt="Cover Art" onerror="this.src='placeholder.jpg'">
          <p><%= track.nowplaying.charAt(0).toUpperCase() + track.nowplaying.slice(1) %></p>
        </li>
      <% } %>
    </ul>

    <!-- Pagination links -->
    <% if (totalPages > 1) { %>
      <div class="pagination">
        <% if (page > 1) { %>
          <a href="/?page=<%= page - 1 %>">Previous</a>
        <% } %>

        <% for (let i = 1; i <= totalPages; i++) { %>
          <% if (i === page) { %>
            <span class="current-page current"><%= i %></span>
          <% } else { %>
            <a href="/?page=<%= i %>"><%= i %></a>
          <% } %>
        <% } %>

        <% if (page < totalPages) { %>
          <a href="/?page=<%= page + 1 %>" class="next">Next</a>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
<%- include('footer') %>
<script>
  // JavaScript code to handle filter selection
  const filterSelectDays = document.getElementById('time-frame-days');
  const filterSelectHours = document.getElementById('time-frame-hours');
  filterSelectDays.addEventListener('change', applyFilter);
  filterSelectHours.addEventListener('change', applyFilter);

  function applyFilter() {
    const selectedDays = filterSelectDays.value;
    const selectedHours = filterSelectHours.value;
    let filteredTrackHistory = paginatedTrackHistory;

    if (selectedDays !== 'all') {
      const daysAgo = new Date();
      daysAgo.setDate(daysAgo.getDate() - parseInt(selectedDays));
      filteredTrackHistory = filteredTrackHistory.filter(track => {
        const trackTime = new Date(track.timestamp);
        return trackTime >= daysAgo;
      });
    }

    if (selectedHours !== 'all') {
      const hoursAgo = new Date();
      hoursAgo.setHours(hoursAgo.getHours() - parseFloat(selectedHours));
      filteredTrackHistory = filteredTrackHistory.filter(track => {
        const trackTime = new Date(track.timestamp);
        return trackTime >= hoursAgo;
      });
    }

    // Clear the current track history list
    const trackHistoryList = document.querySelector('.track-history');
    trackHistoryList.innerHTML = '';

    // Render the filtered track history
    filteredTrackHistory.forEach(track => {
      const listItem = document.createElement('li');
      const img = document.createElement('img');
      img.src = track.coverart;
      img.alt = 'Cover Art';
      listItem.appendChild(img);
      const p = document.createElement('p');
      p.textContent = track.nowplaying.charAt(0).toUpperCase() + track.nowplaying.slice(1);
      listItem.appendChild(p);
      trackHistoryList.appendChild(listItem);
    });
  }
</script>
